/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/




@import 'base/base.css';

/******************************************
/* LAYOUT
/*******************************************/

@import 'comp/slider.css';


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hamburger {
  background: url('../img/hamburger.svg');
  position: absolute;
  margin-top: 2em;
  margin-left: 1em;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  cursor: pointer;
}

.gallery {
  -webkit-transition: all 1.2s; /* Safari */
  transition: all 1.2s;
}

#nav {
  background: #444444;
  width: 240px;
  height: 100%;
  color: #999999;
  position: fixed;
  top: 0;
  z-index: 0;
  -webkit-transition: all 1.2s; /* Safari */
  transition: all 1.2s;
}

#nav ul {
  line-height: 5em;
}

#nav li {
  margin-left: 1em;
}

hr {
  background-color: #999999;
  border: none;
  height: 1px;
}
