#left_nav {
	width: 25vw;
  height: 100vh;
  background-color: #FFFFFF;
  position: absolute;
  box-shadow: 2px 0px 4px 0px #DDDDDD;
	z-index: -10;
}

#transparent_header {
	height: 48px;
	width: 75vw;
	position: absolute;
	left: 25vw;
	z-index: -80;
	background: #000000;
	color: #ffffff;
	opacity: 0.4;
	font-family: 'Gotham';
	font-size: 1.5em;
	text-align: center;
	padding-top: 8px;
}

/*placeholder image for map*/
#map_canvas {
	width: 75vw;
	height: 100vh;
	position: absolute;
	left: 25vw;
	z-index: -100;
}

.results_input {
  height: 32px;
  width: 25vw;
  background: white;
	z-index: 10;
  font-family: 'Roboto';
  font-size: 1em;
  padding: 24px 16px;
  border: 1px solid #dddddd;
}


#results_open_input::-webkit-input-placeholder {
	color: #000000;
}

#results_category_input {
	left: 0px;
}

div.gm-style-iw {
	color: grey;
}

#card {
	border: 1px solid #dddddd;
}

.meta {
	padding: 16px 16px;
}

h5 {
	font-size: 1.25em;
	color: #000000;
	padding-bottom: 8px;
}

h6 {
	font-size: 0.7em;
	color: #000000;
}
