/*
Project Name: Fashion Blog
Client: FEWD
Author: D Alcausin
Developer @GA in LA
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #3e3e3e;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Lato', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
body {
	width: 100%;
  height:100%;
	margin: 0;
  padding: 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header {
  margin-left: auto;
  margin-right: auto;
  width: 687px;
}

header h1 a {
  color: #ff0000;
  text-decoration: none;
  font-size: 52px;
  font-weight: 300;
  padding: 0;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 26px;
  font-weight: 300;
  padding: 0;
  margin-top: -10px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

nav a {
  color: #dfdfdf;
  font-size: 22px;
  padding: 0 19px 0 0;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 0.1px;
}

.nav {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #dfdfdf;
  margin-left: auto;
  margin-right: auto;
}

article {
  width: 686px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 686px;
  height: 228px;
  margin-top: 12px;
}

h3 {
  font-size: 36px;
  color: #dfdfdf;
  font-weight: 300;
  margin-top: 56px;
  margin-bottom: 0px;
}

article h2 {
  margin-top: 6px;
  margin-bottom: 0px;
  font-size: 36px;
  letter-spacing: normal;
}

h2 a {
  text-decoration: none;
  color: #121212;
}

.firstcharacter {
    color: #dfdfdf;
    float: left;
    font-size: 105px;
    line-height: 82px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 0px;
    margin-left: -10px;
}

p {
  font-size: 18px;
  font-weight: 300;
  float: left;
  line-height: 27px;
  margin-top: 12px;
  letter-spacing: -0.05px;
}

h4 a {
  font-size: 18px;
  font-weight: 400;
  color: #ff0000;
  text-decoration: none;
}

h4 {
  text-align: right;
  padding-bottom: 15px;
}

hr {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #ff0000;
  width: 687px;
  height: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 1px;
}

ul {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 687px;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
}

li {
  display: inline;
}

ul li a {
  text-decoration: none;
  font-weight: 300;
  color: #ff0000;
}

.seperator {
  color: #dfdfdf;
}

h5 {
  font-size: 18px;
  color: #c2c2c2;
  font-weight: 300;
  width: 687px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
