/*
Project Name: Fashion Blog_Part 2
Client: FEWD
Author: D Alcausin
Developer @GA in LA
*/

@import url('base.css');
@import url('layout.css');


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.sitename a {
  color: #e9363a;
  text-decoration: none;
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.sitesub {
	color: #888888;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 1px;
}

h3 {
  font-size: 36px;
  color: #dfdfdf;
  font-weight: 300;
}

nav ul {
	font-size: 0px;
}

nav ul li {
	background: #000000;
}

nav ul li a {
	text-decoration: none;
	font-size: 23px;
	font-weight: 300;
	color: #ffffff;
}

article h2 {
  font-size: 36px;
	font-weight: 300;
}

h2 a {
  text-decoration: none;
  color: #121212;
}

.firstcharacter {
  color: #dfdfdf;
  font-size: 105px;
  line-height: 82px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: -0.05px;
}

h4 a {
  font-size: 18px;
  font-weight: 600;
  color: #e9363a;
  text-decoration: none;
}

.content hr {
  border: none;
  background-color: #dddddd;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  color: #888888;
  text-decoration: none;
}

.about_us p {
	color: #888888;
}

aside hr {
  border: none;
  background-color: #dddddd;
}

.ad {
	background: #cccccc;
}

.ad p {
	font-size: 76px;
	font-family: 'Slabo 27px', serif;
	color: #969696;
	font-weight: bold;
}

.popular_posts ul li {
	list-style: none;
}

.popular_posts ul li:before {
  content: "\2022";
  font-size: 18px;
	color: #888888;
}

.popular_posts li a {
	text-decoration: none;
	font-weight: 300;
	font-size: 18px;
	color: #e9363a;
	line-height: 27px;
}

footer ul {
  font-size: 18px;
}

footer li {
  display: inline;
}

footer ul li a {
  text-decoration: none;
  font-weight: 300;
  color: #e9363a;
}

.seperator {
  color: #dfdfdf;
}

h5 {
  font-size: 18px;
  color: #c2c2c2;
  font-weight: 300;
  width: 687px;
}
